body {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5rem auto;
    height: 70vh;
}

#resultado-container, #numeros, #operadores-container {
    margin-bottom: 1rem;
}

#resultado-container {
    border: 2px solid #7D7A7A;
    border-radius: 4px;
    min-height: 50px;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    padding: 0.5rem 0.5rem 0 0;

}
#resultado-container #resultado{
    float: right;
}

#numeros {
    display: flex;
    justify-content: space-between;

}

.input-numeros {
    height: 30px;
    width: 49%;
    margin: 0 auto;
    border: 2px solid #7D7A7A;
    border-radius: 4px;
    text-align: right;
    padding-right: 0.5rem;
}


#operadores-container {
    display: flex;
    justify-content: space-between;
}

.btn-operadores {
    width: 19%;
    border: 2px solid #7D7A7A;
    border-radius: 4px;
    background-color: #EA9246;
}

.btn-operadores:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.btn-operador-selecionado {
    background-image: linear-gradient(rgba(9, 8, 8, 0.5), rgba(216, 180, 180, 0.5));
}
#btn-igual {
    background-color: #7D7A7A;
}

.operadores {
    width: 30px;
    height: 30px;
}